In [1]:
import pandas as pd

In [2]:
df3 = pd.read_csv('imdb.title.akas.csv')
df3.head(20)

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
5,tt0369610,15,Jurassic World,GR,NaN,imdbDisplay,NaN,0.0
6,tt0369610,16,Jurassic World,IT,NaN,imdbDisplay,NaN,0.0
7,tt0369610,17,Jurski svijet,HR,NaN,imdbDisplay,NaN,0.0
8,tt0369610,18,Olam ha'Yura,IL,he,imdbDisplay,NaN,0.0
9,tt0369610,19,Jurassic World: Mundo Jurásico,MX,NaN,imdbDisplay,NaN,0.0
10,tt0369610,1,Jurassic World: Sauruste maailm,EE,NaN,imdbDisplay,NaN,0.0
11,tt0369610,20,Jurassic World,SE,NaN,imdbDisplay,NaN,0.0
12,tt0369610,21,Jurassic World 3D,US,NaN,NaN,3-D version,0.0
13,tt0369610,22,Jurassic World 3D,DE,NaN,NaN,3-D version,0.0
14,tt0369610,23,Jurassic World 3D,XWW,NaN,NaN,3-D version,0.0
15,tt0369610,24,Juras laikmeta pasaule,LV,NaN,imdbDisplay,NaN,0.0
16,tt0369610,25,Mundo Jurássico,PT,NaN,imdbDisplay,NaN,0.0
17,tt0369610,26,Мир Юрского периода,RU,NaN,NaN,NaN,0.0
18,tt0369610,27,Jurský svět,CZ,NaN,NaN,NaN,0.0
19,tt0369610,28,Monde jurassique,CA,fr,imdbDisplay,NaN,0.0